<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iia.touchwin"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/red" 
        android:name="com.iia.touchwin.app.TouchWin" >
        
        <!-- Splash screen -->
        <activity
            android:name="com.iia.touchwin.ui.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
 
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- MainActivity -->
        <activity
            android:name="com.iia.touchwin.ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- HomeActivity -->
        <activity
            android:name="com.iia.touchwin.ui.HomeActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- PlayActivity -->
        <activity
            android:name="com.iia.touchwin.ui.PlayActivity"
            android:label="@string/app_name"  
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- GameActivity -->
        <activity
            android:name="com.iia.touchwin.ui.CouleurActivity"
            android:label="@string/app_name"  
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
        </activity>
        
        <!-- CalculActivity -->
        <activity
            android:name="com.iia.touchwin.ui.CalculActivity"
            android:label="@string/app_name"  
            android:screenOrientation="portrait" 
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
        </activity>
        
        <!-- SettingsActivity -->
        <activity
            android:name="com.iia.touchwin.ui.SettingsActivity"
            android:label="@string/app_name"  
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- HelpActivity -->
        <activity
            android:name="com.iia.touchwin.ui.HelpActivity"
            android:label="@string/app_name"  
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- StatsActivity -->
        <activity
            android:name="com.iia.touchwin.ui.StatsActivity"
            android:label="@string/app_name"  
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- RanksActivity -->
        <activity
            android:name="com.iia.touchwin.ui.RankActivity"
            android:label="@string/app_name"  
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>